.activities {
  padding-top: 0px;
}

.activities__list {
  display: flex;
  justify-content: space-between;
}

.activities__thumb {
  position: relative;
}
.activities__text {
  display: inline-block;
  content: "";
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  opacity: 1;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  color: #ffffff;
}
