.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.clients__icon {
  fill: #afb1b8;

  transition: fill 250ms $transition-timing-function;

  .clients__border:hover &,
  .clients__border:focus & {
    fill: $accent-coloure;
  }
}

.clients__border {
  display: block;
  // width: 210px;
  width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
  height: 92px;
  padding-top: 16px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 16px;
  margin-top: 30px;

  @media screen and(min-width: 1200px) {
    width: 170px;
    padding: 16px 32px;
    margin-top: 0px;
  }

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms $transition-timing-function;

  &:focus,
  &:hover {
    border-color: $accent-coloure;
  }
}
