.features__background {
  display: block;

  margin-bottom: 30px;
  background-color: #f5f4fa;
  width: 450px;
  height: 120px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

  @media screen and(min-width: 768px) {
    width: 100%;
  }
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $primery-text-coloure;
  text-align: center;
  @media screen and(min-width: 768px) {
  }
  text-align: left;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
  @media screen and(min-width: 768px) {
    margin-bottom: 0px;
  }
}

.features {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features__item {
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}
.features__item + .features__item {
  @media screen and(min-width: 1200px) {
    margin-left: 30px;
  }
}
